<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
        }
    </style>
	{% tailwind_css %}
</head>
<body>
    {% block content %}  {% endblock content %}

  {% if settings.DEBUG %}
    {% include 'django_browser_reload/script.html' %}
  {% endif %}
</body>
</body>
</html>